@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=cyrillic-ext");
/*Общие стили*/
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

h1, h3 {
  text-align: center;
  color: #6c4a03; }

html {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  min-width: 100%;
  background: url("../img/background.png") fixed; }

body {
  width: 1000px;
  margin: 0 auto; }

/*Главная страница клиента*/
#signIn {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px; }

#signIn:hover {
  background-color: lightgray; }

header {
  padding: 20px 0 0 0;
  text-align: center; }
  header #logo #logoName {
    font-size: 20pt;
    font-weight: bold; }
  header #logo #logoDesc {
    font-size: 8pt; }
  header #logo img {
    height: 100px; }

main {
  margin: 30px 0 0 0; }
  main menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    main menu .menuItem {
      font-size: 16pt;
      color: white;
      width: 30%;
      margin: 5px;
      height: 170px;
      text-align: center;
      opacity: 0.85; }
      main menu .menuItem div {
        margin-top: 70px; }
    main menu .menuItem:nth-child(2) > div {
      margin-top: 48px; }
    main menu .menuItem:nth-child(3) > div {
      margin-top: 60px; }
    main menu .firstRow {
      background-color: #7bad1a; }
    main menu .secondRow {
      background-color: #6c4a03; }
    main menu .menuItem:hover {
      opacity: 1;
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03); }
  main section {
    background: rgba(250, 250, 250, 0.7);
    text-align: center;
    margin: 30px auto 40px auto;
    width: 92%;
    border-radius: 10px; }
    main section h1 {
      font-size: 20pt;
      margin: 30px 0; }
  main ul {
    text-align: left;
    margin: 0 auto;
    width: 70%;
    font-size: 15pt;
    list-style: circle; }
    main ul li {
      margin: 10px 0 0 40px; }

/*Панель администратора*/
#backToSite {
  text-align: center;
  margin: 30px auto;
  display: block;
  width: 300px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  color: white; }

#backToSite:hover {
  background-color: #999; }

#authForm {
  width: 100%;
  text-align: center;
  font-size: 18pt; }
  #authForm #authFormError {
    color: red;
    font-size: 15pt;
    background: rgba(250, 250, 250, 0.7);
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    border-radius: 15px; }
    #authForm #authFormError #extra {
      font-style: italic;
      font-size: 12pt;
      color: black; }
  #authForm input {
    height: 30px;
    width: 300px;
    font-size: 15pt;
    border: 1px solid #aaa;
    border-radius: 5px; }
  #authForm button {
    margin-top: 25px;
    height: 40px;
    width: 150px;
    font-size: 15pt; }

.greenButton {
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #0a7317;
  background-image: -moz-linear-gradient(top, #34b50d 0%, #0a7317 100%);
  background-image: -webkit-linear-gradient(top, #34b50d 0%, #0a7317 100%);
  background-image: -o-linear-gradient(top, #34b50d 0%, #0a7317 100%);
  background-image: -ms-linear-gradient(top, #34b50d 0%, #0a7317 100%); }

.redButton {
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #f50519;
  background-image: -moz-linear-gradient(top, #f50519 0%, #750b21 100%);
  background-image: -webkit-linear-gradient(top, #f50519 0%, #750b21 100%);
  background-image: -o-linear-gradient(top, #f50519 0%, #750b21 100%);
  background-image: -ms-linear-gradient(top, #f50519 0%, #750b21 100%); }

.grayButton {
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #9e9e9e;
  background-image: -moz-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%);
  background-image: -webkit-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%);
  background-image: -o-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%);
  background-image: -ms-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%); }

#userInfo {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(250, 250, 250, 0.7);
  padding: 20px;
  border-radius: 5px;
  text-align: right; }
  #userInfo #userExtra {
    font-size: 11pt;
    color: darkgray; }
  #userInfo #logoutButton {
    display: block;
    height: 30px;
    font-size: 12pt;
    width: 90px;
    margin: 10px auto;
    text-align: center;
    line-height: 30px; }
  #userInfo #logoutButton:hover {
    background-color: #f50519; }

/*Вопросы клиенсткая часть*/
#goHomeClient {
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 30px 0 0 100px; }

#questionForm {
  border-radius: 15px;
  background: rgba(250, 250, 250, 0.7);
  text-align: center;
  padding: 30px 0;
  margin-bottom: 50px; }
  #questionForm .errorForm {
    font-size: 8pt;
    padding-bottom: 10px;
    color: red; }
  #questionForm select {
    width: 500px;
    height: 30px;
    font-size: 12pt;
    background-color: white; }
  #questionForm input, #questionForm textarea {
    font-size: 12pt; }
  #questionForm input {
    width: 500px;
    height: 30px; }
  #questionForm textarea {
    width: 500px;
    height: 100px;
    outline: none;
    border: 1px solid #ccc; }
  #questionForm #addedFile {
    margin-top: 10px;
    font-size: 10pt;
    padding-left: 25%; }
  #questionForm button {
    height: 40px;
    width: 150px;
    font-size: 15pt; }

#loader {
  display: none;
  margin-top: 100px;
  text-align: center; }

#completeQuestion {
  display: none;
  text-align: center;
  border-radius: 15px;
  background: rgba(250, 250, 250, 0.7);
  padding: 30px; }
  #completeQuestion span {
    font-style: italic;
    text-decoration: underline; }

/*Список вопросов панели Level1*/
#questionStatistic {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #7bad1a;
  border-radius: 10px 10px 0 0;
  color: white; }
  #questionStatistic span {
    float: right; }

#questionList .unRead {
  color: red; }
#questionList .questionItem {
  background-color: #fff;
  border: 2px solid #fff;
  margin: 3px 0;
  height: 50px;
  line-height: 50px; }
  #questionList .questionItem .questionListTime, #questionList .questionItem .questionListName {
    float: left;
    margin: 0 30px; }
  #questionList .questionItem .questionListText {
    float: right;
    margin: 0 30px; }
#questionList .questionItem:hover {
  background: white;
  border: 2px solid #000; }

/*Постраничная навигация*/
.pages {
  text-align: center;
  width: 100%; }
  .pages a {
    display: inline-block;
    padding: 3px;
    background-color: #6c4a03;
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white; }
  .pages .active {
    background-color: #7bad1a; }

/*Страница ошибки доступа*/
#accessError {
  text-align: center;
  background: rgba(250, 250, 250, 0.7);
  padding: 30px 0;
  border-radius: 15px; }

#buttonBack {
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 30px 0 0 100px; }

/*Страница ответа на вопрос*/
#questionInfo {
  padding: 10px 20px;
  margin: 10px auto 0 auto;
  background-color: #7bad1a;
  border-radius: 10px 10px 0 0;
  color: white;
  width: 80%; }
  #questionInfo #questionTime {
    float: right; }

#questionText {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white; }
  #questionText #addedFile {
    display: block;
    margin-top: 30px;
    font-size: 11pt;
    text-decoration: underline;
    color: #0a7317; }

#answerQuestion {
  text-align: center; }
  #answerQuestion textarea {
    margin-top: 20px;
    width: 80%;
    padding: 20px;
    font-size: 12pt;
    height: 100px;
    outline: none;
    border: 1px solid #ddd;
    background-color: #eeeeee; }
  #answerQuestion textarea:focus {
    background-color: white; }
  #answerQuestion #answerButton, #answerQuestion #deleteButtons {
    margin-top: 10px; }
    #answerQuestion #answerButton a, #answerQuestion #deleteButtons a {
      height: 30px;
      line-height: 30px;
      padding: 5px 10px; }

#answerText {
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  background-color: #eee; }

/*# sourceMappingURL=styles.css.map */
