@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=cyrillic-ext');

$backgroundWhite: rgba(250, 250, 250, 0.8);
/*Общие стили*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h3 {
  text-align: center;
  color: #6c4a03;

}

h3 {
  font-size: 20pt;
}

html {

  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  min-width: 100%;
  background: url("../img/background.png") fixed;
}

body {
  width: 1000px;
  margin: 0 auto;
}

/*Главная страница клиента*/
#signIn {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;

  color: white;
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;

}

#signIn:hover {
  background-color: lightgray;
}

header {
  padding: 20px 0 0 0;
  text-align: center;
  #logo {

    #logoName {
      font-size: 20pt;
      font-weight: bold;
    }
    #logoDesc {
      font-size: 8pt;
    }
    img {
      height: 100px;
    }
  }
}

main {
  margin: 10px 0 0 0;
  menu {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .menuItem {
      font-size: 16pt;
      color: white;
      width: 30%;
      margin: 5px;
      height: 170px;
      text-align: center;
      opacity: 0.85;
      div {
        margin-top: 70px;
      }
    }

    .menuItem:nth-child(2):not(.menuAdmin2) > div {
      margin-top: 48px;
    }
    .menuItem:nth-child(3):not(.menuAdmin2) > div {
      margin-top: 60px;
    }
    .firstRow {
      background-color: #7bad1a;
    }
    .secondRow {
      background-color: #6c4a03;
    }
    .menuItem:hover {
      opacity: 1;
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03);
    }
  }
  section {
    background: $backgroundWhite;
    text-align: center;
    margin: 30px auto 40px auto;
    width: 92%;
    border-radius: 10px;

    h1 {
      font-size: 20pt;
      margin: 30px 0;
    }
  }
  ul {
    text-align: left;
    margin: 0 auto;
    width: 70%;
    font-size: 15pt;
    list-style: circle;
    li {
      margin: 10px 0 0 40px;
    }
  }

}

/*Панель администратора*/
#backToSite {
  text-align: center;
  margin: 30px auto;
  display: block;
  width: 300px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  color: white;
}

#backToSite:hover {
  background-color: #999;
}

#authForm {
  width: 100%;
  text-align: center;
  font-size: 18pt;
  #authFormError {
    color: red;
    font-size: 15pt;
    background: $backgroundWhite;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
    #extra {
      font-style: italic;
      font-size: 12pt;
      color: black;
    }
  }
  input {
    height: 30px;
    width: 300px;
    font-size: 15pt;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  button {
    margin-top: 25px;
    height: 40px;
    width: 150px;
    font-size: 15pt;

  }
}

.greenButton {
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #34b50d;
  background-image: -moz-linear-gradient(top, #34b50d 0%, #0a7317 100%);
  background-image: -webkit-linear-gradient(top, #34b50d 0%, #0a7317 100%);
  background-image: -o-linear-gradient(top, #34b50d 0%, #0a7317 100%);
  background-image: -ms-linear-gradient(top, #34b50d 0%, #0a7317 100%);
}

.redButton {
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #f50519;
  background-image: -moz-linear-gradient(top, #f50519 0%, #750b21 100%);
  background-image: -webkit-linear-gradient(top, #f50519 0%, #750b21 100%);
  background-image: -o-linear-gradient(top, #f50519 0%, #750b21 100%);
  background-image: -ms-linear-gradient(top, #f50519 0%, #750b21 100%);
}

.redButton:hover, .greenButton:hover, .grayButton:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grayButton {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #9e9e9e;
  background-image: -moz-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%);
  background-image: -webkit-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%);
  background-image: -o-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%);
  background-image: -ms-linear-gradient(top, #9e9e9e 0%, #4d4d4d 100%);
}

#userInfo {
  position: absolute;
  top: 20px;
  right: 20px;
  background: $backgroundWhite;
  padding: 20px;
  border-radius: 5px;
  text-align: right;
  #userExtra {
    font-size: 11pt;
    color: darkgray;
  }
  #logoutButton {
    display: block;
    height: 30px;
    font-size: 12pt;
    width: 90px;
    margin: 10px auto;
    text-align: center;
    line-height: 30px;
  }
  #logoutButton:hover {
    background-color: #f50519;
  }
}

/*Вопросы клиенсткая часть*/
#goHomeClient {
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 30px 0 0 100px;
}

.errorForm {
  font-size: 8pt;
  padding-bottom: 10px;
  color: red;
}

#questionForm {

  border-radius: 15px;
  background: $backgroundWhite;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 50px;

  select {
    width: 500px;
    height: 30px;
    font-size: 12pt;
    background-color: white;

  }
  input, textarea {

    font-size: 12pt;
  }
  input {
    width: 500px;
    height: 30px;
    border: 1px solid #aaa;

  }
  textarea {
    width: 500px;
    height: 100px;
    outline: none;
    border: 1px solid #aaa;

  }
  #addedFile {
    margin-top: 10px;
    font-size: 10pt;
    padding-left: 25%;
    border: none;
  }
  button {
    height: 40px;
    width: 150px;
    font-size: 15pt;
  }
}

#loader {
  display: none;
  margin-top: 100px;
  text-align: center;
}

#completeQuestion {
  display: none;
  text-align: center;
  border-radius: 15px;
  background: $backgroundWhite;
  padding: 30px;
  span {
    font-style: italic;
    text-decoration: underline;
  }
}

/*Список вопросов панели Level1*/
#questionStatistic {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #7bad1a;
  border-radius: 10px 10px 0 0;
  color: white;
  span {
    float: right;
  }

}

#questionList {
  .unRead {
    color: red;
  }
  .questionItem {
    background-color: #fff;
    border: 2px solid #fff;

    margin: 3px 0;
    height: 50px;
    line-height: 50px;

    .questionListTime, .questionListName {
      float: left;
      margin: 0 30px;
    }
    .questionListText {
      float: right;

      margin: 0 30px;
    }
  }
  .questionItem:hover {
    background: white;
    border: 2px solid #000;
  }
}

/*Постраничная навигация*/
.pages {
  text-align: center;
  width: 100%;

  a {
    display: inline-block;
    padding: 3px;
    background-color: #6c4a03;
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;

  }
  .active {
    background-color: #7bad1a;
  }
}

/*Страница ошибки доступа*/
#accessError {
  text-align: center;
  background: $backgroundWhite;
  padding: 30px 0;
  border-radius: 15px;
}

#buttonBack {
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 20px 0 0 100px;
}

/*Страница ответа на вопрос*/
#questionInfo {
  padding: 10px 20px;
  margin: 10px auto 0 auto;
  background-color: #7bad1a;
  border-radius: 10px 10px 0 0;
  color: white;
  width: 80%;

  #questionTime {
    float: right;
  }

}

#questionText {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  #addedFile {
    display: inline-block;

    font-size: 11pt;
    text-decoration: underline;
    color: #0a7317;
  }
  #questionEmail {

    display: inline-block;
    float: right;
    text-decoration: underline;
  }
}

#answerQuestion {
  text-align: center;
  textarea {
    margin-top: 20px;
    width: 80%;
    padding: 20px;
    font-size: 12pt;
    height: 100px;
    outline: none;
    border: 1px solid #ddd;
    background-color: #eeeeee;

  }
  textarea:focus {
    background-color: white;
  }
}

#answerButton, .extraButtons {
  margin: 10px;
  text-align: center;
  a {
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
  }
}

#answerText {
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  background-color: #eee;
}

#messageAnswerQuestion {
  width: 80%;
  padding: 20px;
  background-color: gray;
  margin: 0 auto;
  color: white;
  border-radius: 0 0 10px 10px;
}

#successAnswer {
  color: white;
  background-color: #7bad1a;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;

}

/*Форма общих сведений*/

#formGeneral, #formCharacter {
  width: 70%;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  background-color: $backgroundWhite;
  border-radius: 25px;

  input {
    height: 30px;
    width: 500px;
    font-size: 12pt;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
  }
  select {
    height: 30px;
    font-size: 12pt;
    background-color: white;
    width: 510px;

  }
  button {
    height: 40px;
    width: 150px;
    font-size: 15pt;
  }
}

.separator {
  color: gray;
  font-size: 15pt;
}

#successGeneralForm, #successCharacterForm {
  display: none;
  text-align: center;
  background: $backgroundWhite;
  width: 40%;
  padding: 20px 20px 10px 20px;
  margin: 30px auto;
  border-radius: 15px;
  a {
    display: block;
    margin: 10px auto;
    height: 30px;
    line-height: 30px;
  }
  #editSuccess {
    color: #7bad1a;
    font-weight: bold;
  }
}

/*Меню редактирования паспорта*/
#passportInfo {
  width: 80%;
  background: $backgroundWhite;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid gray;
  font-weight: bold;

  span:nth-child(2n) {
    float: right;
  }
}

#editMenuList {
  text-align: center;
  margin-bottom: 30px;
  a {
    display: block;
    padding: 10px 0;
    background-color: #7bad1a;
    margin: 5px auto;
    font-size: 15pt;
    color: white;
    width: 50%;
    border-radius: 8px;

  }
  .gray {
    background-color: #9e9e9e;
  }
  a:hover {
    text-decoration: underline;
  }
}

